
html,
body,
header,
#intro {
    height: 100%;
    width: 100%;
}

#intro {
  background:url('https://apod.nasa.gov/apod/image/1910/HorseFlame_Priego_960.jpg')no-repeat center center fixed;
  background-size: cover!important;
}

body {
  
  font-family: 'Quattrocento Sans', sans-serif;
 
}

.navbar{height:70px; padding-top:20px; }

.dropdown-menu{background:rgba(0,0,0,0.5); color:white; }

.dropdown-menu li>a{color:white; }
   .dropdown-menu>li{padding:5px; border-bottom:1px solid white;border-left:1px 
              solid white;border-right:1px solid white }
   .dropdown-menu li>a:hover{background:white; }





   .top-nav-collapse {
  background-color: black;
}

 
#contact{
  /* font-family:'Rock Salt', cursive; */
  color: blue;
  /* font-family: 'Nothing You Could Do', cursive;  */
  font-family: 'Jura', sans-serif; 
   
}
 
 input[type=text], select, textarea {
  width: 100%;
  display:flex;
  flex:1 0 auto;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:#ccc;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:#ccc;
}


input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}


input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

input[type=submit]:hover {
  background-color: #4aaaa5;
}


.col-25 {
  width: 15%;
 }

.col-75 {
   flex:1 0 auto;
 }

 form{
   flex:1 0 auto;
 }

 .gallery {
   column-count: 3;
   column-width: 33%; }
  .gallery .pics {
   transition: all 350ms ease; }
  .gallery .animation {
   transform: scale(1); }
 
   
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }

  @media (max-width: 450px) {
    .gallery {
     column-count: 1;
     column-width: 100%;
    }
    }
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black;
  }
}

 /* font-family: 'Rock Salt', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Jura', sans-serif; */
